.product-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
    min-height: 100vh;
}

.product-detail-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-detail-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.product-info {
    text-align: left;
}

.product-info h2 {
    font-size: 2em;
    color: #444;
}

.product-info p {
    font-size: 1em;
    color: #666;
    margin: 10px 0;
}

.error-message {
    color: red;
    font-size: 1.2em;
    text-align: center;
}

@media (max-width: 768px) {
    .product-detail-card {
        width: 100%;
        padding: 15px;
    }
}

.middlebutn{
    display: flex;
    justify-content: center;
}
